@charset "utf-8";
@import url(main.css);

#container_wrap{width: 100%; position: relative;}
.location *{vertical-align: middle}
.location{border-bottom: 1px dashed #999; height: 40px; line-height: 40px;}
.location a{background: url(../images/bg_location_arrow.gif)no-repeat 0 0/ 6px 9px; padding: 0 10px;}
.location a:first-child{background: none}
#con_body{width: 90%; padding: 10px 5% 0 5%; line-height: 1.6em}

#con_body h3{ background: url(../images/bu_cont_title.gif)no-repeat 0 3px; padding-left: 14px; }
.gove{width: 100%;}
.text{text-decoration: underline; }
.list_st1{}
.list_st1 .list_st2{ font-family:'NanumBold';font-weight:600; font-size: 1.2em; background: url(../images/bu_check.gif)no-repeat 0 5px; padding-left: 3%}
.symbol{width: 100%; }
.list_btn a img{width: 40%;}