@charset "utf-8";

#footer_wrap{width: 100%; position: relative; min-width:1290px; background-color: #12153f; color: #fff;}
.footer{width: 1290px; margin: 0 auto;  color: #fff; padding: 40px 0 40px 0px; position: relative;}
.footer a{color: #fff;}
.footer-menu{margin-bottom: 50px;font-size: 16px;}
.footer-menu li{float: left}

.footer .footer-menu li + li::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 20px 4px 16px;
    border-radius: 2px;
    background: #c5c2ba;
}

.social{position: absolute; bottom: 40px; right: 0}
.social a{display: inline-block; height: 30px; background: url(../images/footer_sns.png) no-repeat 0 0 ; font-size: 0;margin-left: 5px}
.social a:hover{background: url(../images/footer_sns_h.png) no-repeat 0 0 ; font-size: 0;margin-left: 5px}
.social a:nth-of-type(1){background-position: 0 0 ; width: 17px;}
.social a:nth-of-type(2){background-position: -23px 0; width: 18px;}
.social a:nth-of-type(3){background-position: -50px 0; width: 26px;}
.add dt, .add dd { display: inline; font-size: 14px;}
.add dd {margin: 10px;}
.add_{margin: -6px 0 12px 0}

.copyright { margin: 13px 0 0;}