@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);

.video-wrap iframe {
    width: 100%;
    min-height: 400px;
    display: block;
}

.container{width:100%; min-width: 1290px; margin:0 auto; 
margin-top:30px;}
.about_wrap{width: 100%;min-width: 1290px; height: 1000px; position:relative;}
.section_bg1{height: 550px; background: url(../images/bg_1.jpg)no-repeat bottom center fixed;}
.title{position: absolute; top: 160px;left: 50%; margin-left:-20px;}
.title a:after{position:absolute;bottom:-16px; left:7px;content:''; width: 60px ;background-color:#b5c5d0; height:3px;}
.title h3 a{font-size: 22px;font-weight: 800; color: #b5c5d0; display: block;width: 60px; height: 20px;}
.bg1{width: 100%; min-width: 1290px; position: absolute; bottom:0; left:0; overflow: hidden}



.about{position: absolute;width: 1290px;top:300px; left: 50%;margin-left: -640px;}
.about ul li{float: left;margin-right: 10px; }
.about_pro {width:350px; height: 490px;  background: url(../images/section2_1.png)no-repeat ;padding:280px 0 0  40px;}
.about ul li h3{font-size: 24px; letter-spacing:0.1em;color: #fff;font-weight: 100;line-height: 32px;}
.about ul li span{font-weight: 800}
.about ul li p{padding-top: 10px;color: #fff; font-size: 14px; line-height: 26px;}
.about_slo{text-align: center}
.about li:hover{opacity:0.9; }
.about_slo{width:560px; height: 490px;  background: url(../images/section2_2_1.png)no-repeat;padding:50px 0 0  0; }
.about_inn{width:350px; height: 490px;  background: url(../images/section2_3.png)no-repeat ;padding:280px 0 0  40px;}



.news_wrap .title a:after{position:absolute;bottom:-16px; left:0px;content:''; width: 60px ;background-color:#b5c5d0; height:3px;}
.news_wrap{width:100%;min-width:1290px; height:800px;position:relative;}
.news{width:1290px;margin: 0 auto; position: relative; padding-top: 300px;}
.news ul li{float: left; width: 300px; margin-left:  30px;}
.news ul li:first-child{margin-left: 0px;}
.news_list a .news_list_img{width: 300px; height: 300px;overflow: hidden;}
.news_list a img{width: 300px; height: 300px;overflow: hidden; transition:all 3s cubic-bezier(.19,1,.22,1)}
.news_list a:hover img{transform: scale(1.2)}
.news_list a:hover .news_list_p{color: #212cb9; }
.news_list_p{font-size:16px; padding: 20px 10px 0 10px;line-height: 1.5}

.brands_wrap .title a:after{position:absolute;bottom:-16px; left:12px;content:''; width: 60px ;background-color:#b5c5d0; height:3px;}
.brands_wrap{width:100%;min-width:1290px; height:1100px;position:relative;}
.brands{width: 1290px; height: 660px;margin: 0 auto; padding-top: 300px;}
.brands ul{width: 1290px; height: 660px;position: relative ;background-color: aqua}
.brands ul li{float: left;}
.brands_a_1{background-color: #177e88; }
.brands_a_1 a{color: #fff;font-size: 40px; padding: 40px 0 0 40px;display: inline-block ;font-weight: 800; }
.brands_a_1 p{font-size: 18px; line-height: 26px; padding-top: 32px; font-weight: 400}
.brands_a_1 span{position: relative}
.brands_a_1:hover a span:after{width: 100%;}
.brands_a_1 span:after{position:absolute;bottom:-18px;content:'';width: 80px; left: 0; ;background-color:#ffffff; height:3px;transform:translate3d(0,0,0); transition:all 0.3s ease}
/*.brands_barspan span:after{width: 100px; position:absolute;bottom:-18px;content:''; background-color:#ffffff; height:3px;}*/
.brands_a_1,.brands_a_2,.brands_a_4,.brands_a_6{width:330px; height:330px; position:relative;}
.brands_a_3,.brands_a_5{width:630px; height: 330px;position: relative}



.box1:before,.box2:before,.box2:after,
.box1:after{border: 1px solid rgba(255,255,255,0.5); content: ''} 
.box1:before,.box2:before{position: absolute; top: 20px; bottom: 20px; left: 20px; right: 20px; opacity: 0;} 
.box1:after,.box2:after{position: absolute; top: 23px; bottom: 23px; left: 23px; right: 23px; opacity: 0;} 
.br4-1-1, .br_4_span1,.br_4_span2{opacity: 0;}
.box_hover:hover .box1:before,.box_hover:hover .box1:after,.box_hover:hover .box2:before,.box_hover:hover .box2:after,.box_hover:hover .br4-1-1,.box_hover:hover .br_4_span1,.box_hover:hover .br_4_span2{opacity: 1;}
.box_hover:hover .box1 {opacity: 0.5; transition:opacity 1s ease}/**/
.box_hover .box1{width: 330px; height: 330px; background-color: #000;position: absolute; top: 0; left: 0;  opacity: 0;}
.box_hover .box2{width: 630px; height: 330px; background-color: #000;position: absolute; top: 0; left: 0;  opacity: 0;}
.box_hover:hover .box2{ opacity: 0.5; transition:opacity 1s ease}
.br_4_span1{position: absolute; top: 46%; left: 50%; margin-left:-40px; margin-top: 62px; color: #fff;font-size: 20px; font-weight: 600}
.br_4_span2{position: absolute; top: 46%; left: 50%; margin-left:-36px; margin-top: 62px; color: #fff;font-size: 20px; font-weight: 600}
.brands_a_2 .br4-1-1 {  position: absolute; top: 46%; left: 50%;margin-left: -55px; margin-top: -70px; }
.br4-1-1{ position: absolute; top: 46%; left: 50%;margin-left: -55px; margin-top: -70px; }



.product_wrap{width: 100%;min-width: 1290px; height: 900px; position:relative; box-sizing: border-box }
.product_wrap .title a:after{position:absolute;bottom:-16px; left:12px;content:''; width: 60px ;background-color:#b5c5d0; height:3px;}
.product{width: 1290px; height: 660px;margin: 0 auto; padding-top: 300px;position: relative;}
.product ul{width: 1290px; height: 660px;position: relative ;}
.product ul li{ width: 300px;height: 400px; margin-left: 29px; position: relative; float: left}
.product ul li a{display: block;}
.product ul li:first-child{margin-left: 0;}
.product ul li a:hover .product_inner_wp{top: 160px;}
.product_inner_wp{position: absolute; top: 100%; bottom: 0;transition: all 0.5s ease;  width: 300px;overflow: hidden;/*border-top: 2px solid #1c6ef0*/}
.product_inner{width: 100%; padding: 30px 26px 40px; background-color: rgba(0,0,0,0.6) ;color: #fff; }/**/
.product_inner em{display: block;font-size:18px; }
.product_inner .tit{display: block; font-size: 18px; margin: 8px 0 16px 0; font-weight: 800}
.product_inner .text{font-size: 14px; line-height: 26px; }
.product_more{display: block;  margin-top: 14px; }



.sns_wrap{width: 100%;min-width: 1290px; height: 1000px; position:relative; box-sizing: border-box }
.sns_wrap .title a:after{position:absolute;bottom:-16px; left:0px;content:''; width: 40px ;background-color:#b5c5d0; height:3px;}
.sns{width: 1290px; height: 660px;margin: 0 auto; padding-top: 300px;position: relative; overflow: hidden}
.sns ul{width: 1950px; height: 660px;position: relative ;}
.sns ul li{ width: 300px;height: 400px; margin-left: 30px; position: relative; float: left}
.sns ul li a{display: block;}
.sns ul li:first-child{margin-left: 0;}

.sns_wrap .sns_btn{display: inline-block;position: absolute;width: 30px;height: 30px; border-top: 2px solid #999;border-left: 2px solid #999;top: 50%;margin-top: -50px; cursor: pointer}
.sns_btn a{font-size: 0;}
.sns_wrap .prev{transform: rotate(-45deg); left: 260px;}
.sns_wrap .next{transform: rotate(135deg); right: 260px;}