@charset "utf-8";
/*font*/
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body,select,input,button{font-size: 12px;font-family: 'Nanum Gothic', '나눔고딕', '돋움', dotum, sans-serif; color: #333; letter-spacing:-0.02em;  }
body,div,h1,h2,h3,ul,li,address,span,p,a,img,label,button,form,select,input,fieldset,legend,table,tbody,caption,col,th,tr,td,span,label,strong,select,
header,footer, nav,section,article,aside{padding: 0;margin: 0; box-sizing: border-box;}
header,footer,nav, section,article,aside{display: block}
img,select,input,button{vertical-align: middle;}
ul{list-style: none;}
img,input, button, select, textarea{vertical-align:middle;}
img, fieldset{border:0;}
.table tr td{vertical-align:middle;}
address{font-style: normal}
h1,h2,h3{font-size: 1em;font-weight: 400}
table{border-collapse: collapse}
em {font-style: normal;}

a:link,
a:visited {text-decoration: none;color: #333;}
a:hover,
a:active,
a:focus {color: #333;text-decoration: none;}

.layout{position:relative; width: 1200px;height: 100%; margin: 0 auto; }
.skip,legend,caption{width: 1px; height:1px; overflow:hidden; font-size:0; line-height:0; text-indent:-9999em;}

#skipMenu {position: absolute;width: 100%;  z-index:1}
#skipMenu a {position: absolute;top: -100px;}
#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus{position: absolute;top: 0; width: 100%;background-color: #333;color: #fff;display: block;/*a 태그는 인라인 요소라서*/text-align: center;padding: 10px 0;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}