@charset "utf-8";
@import url(reset.css);
@media all and (max-width:768px){

    
    
    #header,.container,.footer,.subMenuWrap{width: 100%; position: relative; }
    .gnb,.util{display: none}
		.headerwrap #header h1{ margin: 0.6% 2% 0 2%; width: 36%} 
		.headerwrap #header h1 a img{width: 100%}
    #header .btnGnb{display: inline-block}
    #wrapper .container{background: none}
    #wrapper .container .section_h{float: none;width: 98%; margin: 0 1%; background: none; height: 40px;padding: 0; }
    /*특정도 값을 웹이랑 같이 해야한다*/
    #wrapper .section_h h2{margin-top: 0;font-weight: 500; font-size: 1.3rem; float: left; margin-right: 30px;}
    #wrapper .section_h h3{margin: 5px 0 10px 0; float: left}
    .titlInfo{font-size: 0.9rem; /*letter-spacing:*/ clear: both }
    #wrapper .container .contents{width: 98%; margin: 0 1%; float: none;}
    #wrapper .section_h .swapImg{display: none}
   	#wrapper .container .section_h .swapText{display:inline-block}
    
    .contents .loction {position: absolute; top: 0; right: 0; float: none;}
    .frmsearch{}
    
		.brandWrap .brandInner{width: 50%;}
		.brandWrap .brandInner h3 a{color:#571c01; font-size: 1rem;}
		.brandWrap .brandInner strong{padding: 6px 0 10px; ; display: inline-block; line-height: 1.4rem}
		.brandWrap .brandInner strong a{color:#571c01; font-size: 1.6rem; font-weight: 900;letter-spacing: -0.09rem}
		.brandWrap .brand .brandInner p{font-size:  0.6rem}
		.brandWrap .brand span{float: right; margin:6% 2%;width: 40%; text-align: right}
		.brandWrap .brand span img{width: 90%;}


        .beverageInner .beverage1{float: left;width:100%;position: relative}
        .beverageInner .beverage2{float: left;width: 100%; position: relative}	
	    
        .inner .mainNews{width: 92%; margin: 0  0 4% 4%}
        .inner .storeWrap{width: 45%;}
        .inner .storeWrap1{margin: 0 2% 0 4% }
	    .inner .storeWrap div h2{font-size: 1.4rem; font-weight: 900; color: #fff; }
        .inner .storeWrap div{padding: 14% 0 50% 14%; }
        .inner .storeWrap div p{margin-top: 10%; font-size: 1.2rem;line-height: 2rem; color: #fff;position: relative}
        .inner .storeWrap div p:after{position:absolute;bottom:74px;content:'';width: 40px; left: 0; ;background-color:#fff; height:3px;transform:translate3d(0,0,0); transition:all 0.3s ease; z-index:999;}



}

