@charset "utf-8";
@import url(reset.css);
@media all and (max-width:960px){

    
    
    #header,.container,.footer,.subMenuWrap{
        width: 100%; position: relative;
    }
 
.beverageInner .beverage1 div h3{font-size:1rem;font-weight: 900;color: #d17e30 }
.beverageInner .beverage1 div p{font-size:0.9rem;font-weight: 700;color: #d0b8a1;margin-top: 10px;line-height: 1.2rem }
.beverageInner .beverage2 div h3{font-size:1rem;font-weight: 900;color: #4a71bc }
.beverageInner .beverage2 div p{font-size:0.9rem;font-weight: 700;color: #c7c9d8;margin-top: 10px;line-height: 1.2rem }
.mainNews ul li{font-size: 0.8rem }

 .inner .storeWrap div p{ font-size: 0.9rem;line-height: 1.2rem;}
  .inner .storeWrap div p:after{display: none}
}

