@charset "utf-8";
@import url(reset.css);
@import url(max768.css);
@import url(max960.css);
@import url(max375.css);



/*web*/
html,body{overflow-x: hidden;}
#wrapper{width: 100%; position: relative;}
.util{width: 100%;  height: 29px; line-height: 29px; position: relative;}
.util div{max-width: 1280px; text-align: right; margin: 0 auto; height: 29px; }
.util div a{margin-left: 2%; font-size: 0.9rem; color: #999; font-weight: 700}
.headerwrap{background: url(../images/bgHeader.gif) repeat-x 0 0; height: 65px; line-height: 65px; position: relative; width: 100%;  }
#header{max-width: 1280px; margin: 0 auto; position: relative;}
#header h1{float: left; width: 30%; padding: 0 0 0 1%}

.gnb_menu{position: absolute; right: 1%; top: 12px;line-height: 48px; width: 40px; height: 50px; z-index: 200; display: none; }/**/
/*.gnb_menu a{display: block;  }*/
.gnb_menu a span{width: 30px; display: block; height: 2px; background-color: #4a3617; position: absolute; text-indent: -999rem; z-index: 2001; color: #333; }
.gnb_menu a span:nth-of-type(1){top: 5px; left: 4px;}
.gnb_menu a span:nth-of-type(2){top: 14px; left: 4px;}
.gnb_menu a span:nth-of-type(3){top: 23px; left: 4px;}
.btnClose{position: absolute; top: 20px; right: 3%;cursor: pointer; display: block; font-size: 0;width: 50px;height: 50px; padding: 20px; background-color: #e08b19}
/*x버튼*/
.btnClose:after, .btnClose:before { content: "";display: block;position: absolute;top: 2px;left: 50%; width: 2px;height: 30px;background: #333; z-index: 999}
.btnClose:before{transform: rotate(45deg);}
.btnClose:after{transform: rotate(-45deg);}
.btn-gnb_menu{position: absolute; top: 0px; left: 0;  width: 100%; z-index: 100; padding: 80px 0 0 25px;background-color: #fff;  }/**/
.bg-black{display:none;position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.3); z-index: 201}
.wMN_Wrap{width:70%; position: absolute; top: 0; right: 0; background-color: #fff;display: block;position: fixed;overflow: hidden; z-index: 202;top: 0;right: 0;height: 100%;display:none}/**/
.btn-gnb_menu li{line-height:28px;padding: 14px 0 14px 10%; }
.btn-gnb_menu li a{font-weight: 700; font-size: 1.3rem}
.gnb{float: right;width: 62%; /*display: inline-block;*/ text-align: right}/*7.8브라우저는 여기에 float: left를 넣어야한다 다 float: left해서 정렬해야한다*/
.gnb ul{overflow: hidden;  }
.gnb ul li{display: inline-block;margin: 0 2.5%; line-height: 65px; text-align: right; }
.gnb ul li:last-child{margin-right: 0}
.gnb ul li a{font-weight: 700; font-size: 1.2rem;}



.container{width: 100%; position: relative;  }
/*.contents{width: 100%; position: relative;}*/
.contents{ width: 100%;position:relative;margin: 0 auto;  }
.contents .single-item{width: 100%; }
.contents .single-item div{width: 100%;}
.contents div img{width: 100%;}


.brandWrap{width: 100%;position: relative; background-color: #f3bd99;margin-top:-39px;}
.brand{max-width: 1280px; margin: 0 auto; position: relative;}
.brandInner{float: left; width: 50%;padding: 4% 0 40px 2%;}
.brandInner h3 a{color:#571c01; font-size: 1.24rem;font-weight: 400;}
.brandInner strong{padding: 10px 0 10px;line-height: 2.4rem; display: inline-block}
.brandInner strong a{color:#571c01; font-size: 2.6rem; font-weight: 900;letter-spacing: -0.09rem}
.brandInner strong a:hover{text-decoration: none}
.brand span{float: right; margin:4% 2%;width: 40%; text-align: right}
.brand span img{width: 68%;}


.videoWrap{width: 100%;position: relative;  
 max-width: 1920px; margin: 0 auto}
.videoInner{ padding: 13% 0;background: url(../images/video.png)no-repeat 0 0 ;width: 100%; background-size:cover; }
.videoInner .video{max-width:1280px; height: auto; margin:0 auto;   padding:0 6%}
.videoInner .video .video-ratio{height: 0; position: relative; padding-top: 56.25%; }/*16:9 16나누기 9=56.25*/
.videoInner .video .video-ratio iframe{width: 100%; height: 100%; position: absolute; top: 0; left: 0}/*******/

.beverageWrap{width: 100%; position: relative;margin: 0 auto}
.beverageInner{width: 100%}
.beverage1{float: left;width:50%;position: relative}
.beverage2{float: left;width: 50%; position: relative}
.beverage1 div{position: absolute; top: 0; left: 0; padding:8%}
.beverage1 div h3{font-size:2.8rem;font-weight: 900;color: #d17e30 }
.beverage1 div p{font-size:1.2rem;font-weight: 700;color: #d0b8a1;margin-top: 16px;line-height: 1.7rem }
.beverageInner div span{display: block}
.beverageInner div span img{width: 100%; display: block;}
.beverage2 div{position: absolute; top: 0; right:0; padding: 8%; text-align: right}
.beverage2 div h3{font-size:2.8rem;font-weight: 900;color: #4a71bc }
.beverage2 div p{font-size:1.2rem;font-weight: 700;color: #c7c9d8;margin-top: 16px;line-height: 1.7rem }


.productWrap{width: 100%; position: relative}
.productInner{max-width: 1280px;margin: 8% auto; text-align: center;position: relative}
.productInner h2{font-size: 1.9rem; font-weight: 100;    letter-spacing: -0.09rem;}
.productInner P{margin: 26px 0 50px;}
.productInner span{font-size: 2.2rem;font-weight: 900; display: block; padding: 4px 0 20px;position: relative;    letter-spacing: -0.1rem;}
.productInner span:after{position:absolute;bottom:-3px;content:'';width: 40px; left: 48%; ;background-color:#999; height:3px;transform:translate3d(0,0,0); transition:all 0.3s ease; }
.productInner P{margin: 26px 0 50px;}
.productInner .single-item img{ width: 100%; padding: 15px 10% 20px; box-sizing: border-box;}



.mainNewsWrap{width: 100%;position: relative; background-color:rgba(237, 237, 237,0.6); }
.mainNewsWrap .inner{max-width: 1280px; position: relative; margin: 0 auto;padding: 10% 0 ; }

.mainNews{width: 40%; float: left; background-color: #fff; padding: 2%}
.mainNews > h2{display: inline-block; width: 70%; margin-bottom: 3%; font-size: 1.6rem; font-weight: 900;}
.mainNews ul li{line-height: 1.8rem; overflow: hidden; }
.mainNews ul li span{float: right}
.moreBtn{float: right;display: inline-block;font-size: 0.9rem; color: #d9d9d9}
.brochure{width: 100%; background-color: rgb(242, 207, 178); margin-top:8.9% ;overflow: hidden}
.brochure h2{margin: 7% 0 0 6%; font-size:1.3rem;float: left; font-weight: 900}
.brochure img{float: right; display:inline-block;width: 26%;}

.storeWrap1{margin: 0 1%; width: 28%; float: left; background: url(../images/news1.png)no-repeat 0 0;background-size:cover}
.storeWrap2{width: 28%; float: left; background: url(../images/news2.png)no-repeat 0 0;background-size:cover}

.storeWrap div h2{font-size: 1.4rem; font-weight: 900; color: #fff; }
.storeWrap div{padding: 14% 0 50% 14%; }
.storeWrap div p{margin-top: 10%; font-size: 1.2rem;line-height: 2rem; color: #fff;position: relative}
.storeWrap div p:after{position:absolute;bottom:74px;content:'';width: 40px; left: 0; ;background-color:#fff; height:3px;transform:translate3d(0,0,0); transition:all 0.3s ease; z-index:999;}



.snsWrap{width: 100%; position: relative; }
.snsInner{max-width: 1280px;margin: 8% auto; text-align: center;position: relative;  }
.snsInner h2{font-size: 2.2rem; font-weight: 900;    letter-spacing: -0.09rem;}
.snsInner span{font-size: 1.8rem; display: block; padding: 1% 0 6%;position: relative;  letter-spacing: -0.1rem;}
.sns ul li{float: left;width: 20%;overflow: hidden;}
.sns ul li img{width: 100%;  transition: all 3s cubic-bezier(.19,1,.22,1);}
.sns ul li a:hover img{transform: scale(1.2)}



.footerWrap{  margin-top: 30px; width: 100%;   background: #262626;text-align: center; color: #818181;}
/*.footer{max-width: 1280px; margin: 0 auto; position: relative; height: 100px;}*/

.bottomUtil{border-bottom: solid 1px #464646;
    padding: 16px 0;}
.bottomUtil li{display: inline-block;
    margin: 3px 19px; font-size: 0.8rem}
.bottomUtil li a{color: #818181;}


.footerLogo{margin: 30px 0 20px;}

address{width: 90%; max-width: 700px;margin: auto; font-size: 0.8rem;color: #6c6c6c;}

address span{display: inline-block;
    margin-right: 1%;line-height: 1.2rem;
   /* padding-right: 1%*/}
.blind{display: block;padding: 10px 0 40px;
    font-weight: 700;}
