@charset "utf-8";

.foot_layout{position:relative;min-width: 1200px;  background: #333940; z-index: 1;}
.banner{border:1px solid #e5e5e5; width: 100%; background:#fff; position:relative;}
.banner_layout{ width: 1200px; height:80px; margin: 0 auto;position:relative;}
.banner_layout strong{display: block; width:76px; height:80px;  line-height: 80px; font-size: 18px; color: #333; font-weight: 700; float: left; padding-left: 20px; } 
.banner_layout .control{float: left; width:80px; height: 80px;  line-height:80px; }
.control li{float:left;}
.control li a{ display: block; overflow:hidden; font-size:0;text-indent:-9999em; display:inline-block; width:26px; height:80px; margin: 0; padding: 0px}
.banner_btn_prev a{background:url(../images/banner-icon-1.png)no-repeat 50% 50%;}

.banner_btn_next a{background:url(../images/banner-icon-3.png)no-repeat 50% 50%;}
.stopBtn .play{background: url(../images/banner-icon-4.png)no-repeat 60% 50%;}
.stopBtn .pause{background:url(../images/banner-icon-2.png)no-repeat 50% 50%;}


.grap{float:right;width:1000px;height: 80px;overflow: hidden; line-height: 80px; position: relative;}

.grap .obj{width: 1000px;height: 80px;  }
.grap ul li{float: left; margin-right:46px;height: 80px;  line-height: 80px;}
.grap ul li img{ width:140px;/*vertical-align:middle ;*/ line-height: 80px; display: inline-block}
/*.grap ul li a{ display: block; }*/
.grap ul li:first-child{margin-left: 0;}


.footer_wp{padding: 35PX 0;}
.layout{position:relative; width: 1200px;height: 100%; margin: 0 auto; }
.footer-info{margin:0 20px; float: left;}
.utile_wrap{margin-bottom: 30px;}
.utile_wrap li{display:inline-block; padding: 0 20px; background: url(../images/foot-icon-1.png)no-repeat 0 4px;}
.utile_wrap li:first-child{background: none; padding-left: 0;}
.utile_wrap li a{display: block; font-size: 15px; color: #fff; }
.footer-info address{display: block; margin: 0 0 5px; color: #9d9ea1; font-size: 14px; line-height: 1.3;}
.footer-info address span{margin-left: 20px;}
.footer-info p{color: #9d9ea1; font-size: 14px; }
.footlogo{float: right; background: url(../images/foot-logo.png)no-repeat 0 0;width: 104px; height: 105px;}