@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
@import url(sub_01.css);
@import url(sub_02.css);
@import url(sub_03.css);


.container{width:100%; margin:0 auto; margin-top:30px;}


/*main_Section1 왼쪽*/
.main_Section1{width:1200px; height:465px; margin:0 auto; position:relative;}
.visual_wp{float:left; width:857px; height:465px; position:relative;}
.visual_wp > ul{width:857px; height:465px; position:relative; overflow:hidden;}
.visual_wp > ul >li{float:left; position: absolute; top:0; left:0; display: none; z-index: 1}/**/
.visual_wp > ul >li.on{z-index: 2 ; display: block}
/*비주얼 버튼*/
.visual_btn_wp{ display:inline-block; position:absolute; bottom:2px; right:0px; width: auto; margin-bottom: -2px;z-index: 11}
.visual_btn {display:inline-block; }
.visual_btn li{float:left;}
button{border: none}
.visual_btn button:hover{background-color: #3e3e3e}
.visual_btn li button{overflow:hidden;font-size:0;line-height: 0;text-indent: -9999em;display:inline-block; width:52px; height:52px; background-color:rgba(0,0,0,0.5);  margin: 0 1px;border: none; outline: none;}
.prev{background:url(../images/btn-visual-prev.png)no-repeat 50% 50%;}
.visual_btn .visual_btn_stop .stop_pop{background:url(../images/btn-visual-stop.png)no-repeat 50% 50%; background-color:rgba(0,0,0,0.5); }
.visual_btn .visual_btn_stop .play_pop{background:url(../images/btn-visual-play.png)no-repeat 50% 50% ;background-color:rgba(0,0,0,0.5); ;}
.next{background:url(../images/btn-visual-next.png)no-repeat 50% 50%;}
.paging{float: left; display:inline-block; height:52px; padding:0 25px;background-color:rgba(0,0,0,0.5);}
.paging > span{float:left; text-align: left; color:#fff; line-height:52px; font-size:18px; font-weight: 700;}
.paging .line{margin:0 4px;}
/*main_Section1 오른쪽*/
.mayor_wp{ float:right; position:relative}
.mayor{width:323px; width:323px; height:353px; background: url(../images/mayor.png)no-repeat 0 0;}
.mayor ul {display:block; position:absolute; top:128px; left:20px;}
.mayor ul li{width:105px; height:28px; margin-bottom:7px; background: url(../images/mayor_bg.png)no-repeat 0 0;  text-align:center; line-height:27px;}
.mayor ul li a{color:#fff; font-weight:700;}
.mayor ul li a:hover{text-decoration:none; color:#a1fff8}
.mayor_btn{width:323px; height:113px; background:url(../images/mayor_btn_bg.png)no-repeat 0 0;}
.mayor_btn li{float:left; width:33.333% ;text-align:center; margin-top:76px;height: 72px;  position:relative;}
.mayor_btn li a{color: #fff; font-size:15px; font-weight:600;}
.mayor_btn li a:hover{text-decoration: none; color: #a1fff8}
.mayor_btn_1{background:url(../images/icon-6.png)no-repeat 5px 26px; padding-top:80px;}
.mayor_btn_2{background:url(../images/icon-7.png)no-repeat 5px 26px; padding-top:80px;}
.mayor_btn_3{background:url(../images/icon-8.png)no-repeat 5px 26px; padding-top:80px; }


/*Section2*/
.main_Section2{width:100%;min-width: 1200px;  height:282px; background-color:#deedfc; position:relative;}
.main_section2_wp{width:1200px; position:relative; margin:0 auto; margin-top:60px; padding-top:27px;}
.title_wp{margin: 0 auto;width:153px; height:30px;}
.title{font-weight:700; font-size:30px; color:#385fbd}
.title_color{color:#282828; font-weight:700; font-size:30px;}
.quick_wp h3{width:137px; height:84px; margin:73px 70px 0 20px; background: url(../images/quick_h3.png)no-repeat 0 0; float: left;}
.quick_meun{float:left; width:970px; margin-top:56px;}
.quick ul li{float:left; text-align: center;padding-top:100px; color:#535353; font-weight:600; font-size:16px}
.quick ul li a{padding-top:100px;}
.quick ul li a:hover{text-decoration:none; color:#004ad9;}
.quick ul li:first-child{width:120px;}
.quick_icon_1{background:url(../images/quick-icon-1.png)no-repeat 6px 6px;}
.quick_icon_2{width:19%;background:url(../images/quick-icon-2.png)no-repeat 56px 0px;}
.quick_icon_3{width:16%;background:url(../images/quick-icon-3.png)no-repeat 46px 0px;}
.quick_icon_4{width:19.6%;background:url(../images/quick-icon-4.png)no-repeat 38px 0px;}
.quick_icon_5{width:16.5%;background:url(../images/quick-icon-5.png)no-repeat 53px 0px;}
.quick_icon_6{width:16.5%;background:url(../images/quick-icon-6.png)no-repeat 48px 0px;}


/*Section3*/
.main_Section3{width:1200px; margin:0 auto; position:relative; margin-top:120px;}
.section3_header h2{width:188px; height:30px; margin:0 auto; text-indent:-9999px;background: url(../images/Section3.svg)no-repeat;}
.Section3_wp{margin-top:20px;}
.area1_wp{width:672px; height:500px; float:left; position:relative;}
.notice{width:672px; height:250px; }
.notice_list{overflow:hidden; position:relative; height:250px}
.notice_list > li{float:left; width:16%;}
.notice_list > li > h3 >a{display:block; line-height:52px; color:#1d1d1d; padding:0 1.5%; font-size:16px; font-weight:700; text-align:center; background:url(../images/icon_15.png)no-repeat 0 50%; z-index: -999}
.notice_list > li:first-child a{background:none;}
.notice_list .on{background:url(../images/news-bg.png)no-repeat 0 0; color:#fff;}
.notice_list .on a{color:#fff;}
.notice_list .board_list{position:absolute; top:52px; left:0;padding: 25px 0 25px 16px; border-top:1px solid #636363; border-bottom:1px solid #dadada;}
.notice_list .board_list li{line-height:29px; width:646px; overflow:hidden; color:#1d1d1d; font-size:15px; background:url(../images/notice_list.png)no-repeat 0 13px; padding-left:10px}
.notice_list .board_list .subject{float:left;}
.notice_list .board_list .date{float:right;}
.more{position:absolute; top:20px; right:0;}
.area1_wp .gallery{width:672px; height:250px; position:relative; padding-top:5px; box-sizing:border-box;}
.gallery h3{margin-bottom:14px; color: #1d1d1d; font-size:18px; font-weight:700; line-height: 42px; letter-spacing:-0.003em}
.gallery li{float:left; width:29.31%; margin-left:6.03%; text-align:center;}
.gallery li:first-child{margin-left:0;}
.gallery li a strong{height:45px; line-height:45px; color:#2f2f2f; font-size:15px; font-weight:normal; text-align:center; letter-spacing:-0.003em;}
.area2_wp{width:528px; height:500px; float:right; position:relative;}
.area2_01_wp{width:528px; height:250px;}
.area2_01_wp .tv h3, .area2_01_wp .news h3{color:#1d1d1d; font-size:18px; font-weight: 700; margin-bottom:28px; letter-spacing:-0.003em}
.area2_01_wp .tv{width:206px; margin: 18px 40px 0 40px; float:left; position:relative;  border-bottom:1px solid #dadada;}
.tv li, .news li{text-align:center;} 
.tv li strong, .news li strong{height:46px; line-height:46px; color:#2f2f2f; font-size:15px; font-weight:normal;}
.area2_01_wp .news{ width:206px; margin:18px 18px 0 18px; float:right; position: relative;}
.tv_more{position:absolute; top:2px; right:0;}
.area2_02_wp{width:528px; height:250px;}
.webzine h3{color:#1d1d1d; font-size:18px; font-weight:700; margin-bottom:28px; letter-spacing:-0.003em}
.sns h3{color: #1d1d1d; font-size:18px; font-weight:700; margin: 16px 0 24px 18px; letter-spacing:-0.003em}
.area2_02_wp .webzine{width:206px; margin:12px 40px 0 40px; float:left; position: relative; }
.webzine li, .sns li{text-align:center;} 
.webzine li strong{height:46px; line-height:46px; color:#2f2f2f; font-size:15px; font-weight:normal; display: block;}
.area2_02_wp .sns{width:242px; height:250px; float:right; position:relative; background: url(../images/sns_bg.png)no-repeat 0 0;}
.sns li strong{font-size:15px; display:block; margin-top:12px; color:#602196;}
.sns li span{font-size:13px; color:#707}
.none{display: none;}


/*Section4*/
.main_Section4{width:100%;min-width: 1200px;  height:760px; margin:0 auto; padding-top:90px; background-color: #e8f2ff; margin-top:120px;}
.section4_header h2{width:188px; height:30px; margin:0 auto; text-indent:-9999px;background:url(../images/Section4.png)no-repeat 0 0;}
.section4_wp{width:1200px; height:560px; margin:0 auto; background-color:#fff; margin-top:30px;}
.mcb_bk{position:relative;}
.mcb_bk > li {position: absolute; top:0; left:0;}
.mcb_bk li p{ width:399px;text-align:center; line-height:56px; font-size:20px ;background-color:#3454a0; position:absolute; top:0; left:0; font-weight:400;}
.mcb_bk li > p > a{ color:#fff;}
.mcb_bk li .po1{left:0}
.mcb_bk li .po2{left:400px}
.mcb_bk li .po3{left:800px}
.po1_list{position:relative; margin-top:80px;}
.mcb_bk > div{ padding:30px 50px; margin-left:-38px;}
.po1_list li{float:left;  width:190px; margin-left:42px;}
.mcb_bk > li > div > ul > li > dl > dt {padding-bottom:8px; border-bottom:1px solid #dedede; font-size: 17px; color: #333; font-weight:400;}
.mcb_bk > li > div > ul > li > dl > dt span{vertical-align:middle;}
.mcb_bk > li > div > ul > li > dl > dd{border-bottom:1px dashed #dedede; padding: 13px 0; letter-spacing:-1px;  margin-left:1px;}
.mcb_bk > li > div > ul > li > dl > dd > a{display:block; padding-left:12px; font-size:15px; color:#666; background:url(../images/notice_list.png)no-repeat 0px 50%;}






